* {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 10px;  /* placeholder */
}

body {
  border-radius: 50px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  margin: 1vh;
  height: 98vh;
}

header {
  background-color: cadetblue; /* placeholder */
  display: flex;
}

section.demo-data {
  background-color: burlywood; /* placeholder */
  display: flex;
  flex-direction: row;
  gap: 50px;

}
section.demo-data > form {
  background-color: chocolate; /* placeholder */
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex: 1;
}

section.chart-container {
  border: 5px solid red;   /* placeholder */
  /* height: 75vh;   placeholder */
  flex-grow: 2;
  display: flex;

}
section.bar-chart {
  background-color: blue;  /* placeholder */
  /* width: 80%; */
  flex-grow: 1;
}

section.props {
  background-color: blueviolet;  /* placeholder */
  width: 20%;
}

fieldset {
  background-color: yellowgreen; /* placeholder */
  border: 5px solid;
  display: flex;
  flex-direction: column;
}

fieldset > div {
  display: flex;
  justify-content: space-between;
}

hr {
  display: block;
  margin: 3px 5%;
  background-color: grey;
  height: 0.25em;

}

footer {
  background-color: beige;  /* placeholder */
}
