/* @import "chart.css"; */

* {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 10px;  /* placeholder */
}

body {
  border-radius: 50px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  margin: 1vh;
  height: 98vh;
}

header {
  background-color: cadetblue; /* placeholder */
  display: flex;
}

/* MAIN */
.chart-dashboard {
  border: 10px solid seagreen; /* temp: visual placeholder */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dashboard__demo-data-selector {
  background-color: burlywood; /* placeholder */
  display: flex;
  flex-direction: row;
  gap: 50px;

}
.dashboard__demo-data-selector > form {
  background-color: chocolate; /* placeholder */
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex: 1;
}

.sub-dash-wrapper {
  border: 5px solid red;   /* placeholder */
  /* height: 75vh;   placeholder */
  flex-grow: 2;
  display: flex;

}
section.bar-chart-container {
  background-color: blue;  /* placeholder */
  /* width: 80%; */
  flex-grow: 1;
}

/* --- CHART CONFIHURATIONS / SETTINGS --- */
.dashboard__chart-config {
  background-color: blueviolet;  /* placeholder */
  width: 20%;
}

fieldset {
  background-color: yellowgreen; /* placeholder */
  border: 5px solid;
  display: flex;
  flex-direction: column;
}

fieldset > div {
  display: flex;
  justify-content: space-between;
}

hr {
  display: block;
  margin: 3px 5%;
  background-color: grey;
  height: 0.25em;

}

/* FOOTER */
footer {
  background-color: beige;  /* placeholder */
}
